<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">

<form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="camisa">Camisa
  <input type="radio" ng-model="myVar" value="caneca">Caneca
  <input type="radio" ng-model="myVar" value="bottons">Bottons
  <br><br>
</form>

<div ng-switch="myVar">
  <div ng-switch-when="camisa">
  	 Categoria:
     <input type="radio" ng-model="myVar" value="femininas">Femininas
  	 <input type="radio" ng-model="myVar" value="masculinas">Masculinas
  </div>
  <div ng-switch-when="camisa">
     Tamanho:
     <input type="radio" ng-model="myVar" value="P">P
  	 <input type="radio" ng-model="myVar" value="M">M
  	 <input type="radio" ng-model="myVar" value="G">G
  </div>
  <div ng-switch-when="caneca">
  	 Tipo:
     <input type="radio" ng-model="myVar" value="porcelana">Porcelana
  	 <input type="radio" ng-model="myVar" value="plastico">Plastico
  	 <input type="radio" ng-model="myVar" value="metal">Metal
  </div>
  <div ng-switch-when="bottons">
     Tamanho:
     <input type="radio" ng-model="myVar" value="3">3,5 cm
  	 <input type="radio" ng-model="myVar" value="4">4,5 cm
  	 <input type="radio" ng-model="myVar" value="5">5,5 cm
  </div>
</div>

<p>The ng-switch directive hides and shows HTML sections depending on the value of the radio buttons.</p>

</body>
</html>